body {
  background-color: white;
  /* margin:-500px;
  margin-right: -1000px; */
  background-image: url(https://i.pinimg.com/originals/7a/46/c5/7a46c5615d816055cbb75a67293af82c.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

}


div {
  display: flex;
  justify-content: center;
}


#Q {
  display: flex;
  justify-content: flex-end;
}

#sb {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

h2 {
  color: black;
  font-family: Lucinda;
}

p {
  font-family: monospace;
}


div {
  display: flex;
  justify-content: center;
}

#introT1 {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: cursive;
}
#introT2 {
  display: flex;
  justify-content: center;

}

/*
#intro {
  padding: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
} */

#buttons {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: black;
  font-family: monospace;
  font-size: 4em;
}

.Cg {
  position:relative;
  left:-200px;
  top:490px;
}

.wq {
  position:relative;
  left:190px;
  top:450px;
}

#gif {
  position:relative;
  left:-380px;
  top:450px;
}

.about {
  position:relative;
  right:290px;
  top:10px;
}

.mb {
  position:relative;
  right:790px;
  top:125px;
}

.pf {
  position:relative;
  right:190px;
  top:160px;
}

.phrop {
  position:relative;
  left:780px;
  top:70px;
}

.quest {
  position:relative;
  left:240px;
  top:-200px;
}


.about2 {
  position:relative;
  right:290px;
  top:-120px;
}

.mb2 {
  position:relative;
  right:790px;
  top:-25px;
}

.pf2 {
  position:relative;
  right:190px;
  top:30px;
}

.phrop2 {
  position:relative;
  left:780px;
  top:-80px;
}

.quest2 {
  position:relative;
  left:240px;
  top:-330px;
}



h2 {
  color: black;
  font-family: monospace;
}

img {
  border-radius: 10px;
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


.center {
  text-align: justify;
}

.column {
  float: left;
  width: 40%;
  height: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



.grid {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}




body, html {
  padding: 0;
  margin: 0;
  text-align: center;
}


a.lightbox img {
  height: 150px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  margin: 94px 20px 20px 20px;
}


.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}


.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}


a.lightbox-close {
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}


a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}


a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}


.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.item2{
  display: block;
  position: absolute;
  width: 200px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: red;
  color: white;
}

.item{
  display: block;
  position: absolute;
  width: 200px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: white;
  color: black;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
}

.about3 {
  position:relative;
  right:290px;
  top:-120px;
}

.mb3 {
  position:relative;
  right:790px;
  top:0px;
}

.pf3 {
  position:relative;
  right:190px;
  top:60px;
}

.phrop3 {
  position:relative;
  left:780px;
  top:-50px;
}

.quest3 {
  position:relative;
  left:240px;
  top:-310px;
}

 /* .wwts2 {
  position:relative;
  left: 600px;

} */
/*
.video {
  position:relative;
   left: 50px;

} */

.video {
    display:inline-flex;
    width: 75%;
  padding-left: 100px;


}
